*{
    box-sizing: border-box;
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
    margin: 0 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.05) translate3d(0,0,0);
    border: solid 1px #fff;
}